Source: leap-mail
Maintainer: Micah Anderson <micah@leap.se>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.5

Package: leap-mail
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-twisted-core, python-twisted-mail
Suggests: bitmask
Description: Mail Services provided by Bitmask, the LEAP Client.
 This package contains the client-side python components that the desktop
 client uses for interacting with server-side leap_mx. It includes an SMTP
 proxy and a local IMAP server that will fetch mail from the remote incoming
 queue backed up by SOLEDAD.
